@import "../../styles.scss";

.alert-container {
  position: fixed;
  max-width: 720px;
  bottom: 20px;
  right: 20px;
  width: auto;
  z-index: 1100; /* Ensure the alert is on top of other content */
}

.alert-container .alert {
  margin: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
