//Defining custom variables
$my-primary-color: #384555;
$my-primary-dark: #232b35;
$my-primary-light: #697685;

$my-secondary-color: #007cc0;
$my-secondary-dark: #005584;
$my-secondary-light: #c9cef1;

$my-status-success: #28a745;
$my-status-warning: #ffc107;
$my-status-danger: #dc3545;
$my-status-info: #17a2b8;

$my-gray-100: #f8f9fa;
$my-gray-200: #e9ecef;
$my-gray-300: #dee2e6;
$my-gray-400: #ced4da;
$my-gray-500: #adb5bd;
$my-gray-600: #6c757d;
$my-gray-700: #495057;
$my-gray-800: #343a40;
$my-gray-900: #212529;

$my-orange-100: #ffe5d0;
$my-orange-200: #fecba1;
$my-orange-300: #feb272;
$my-orange-400: #fd9843;
$my-orange-500: #fd7e14;
$my-orange-600: #ca6510;
$my-orange-700: #984c0c;
$my-orange-800: #653208;
$my-orange-900: #331904;

$my-blue-100: #cfe2ff;
$my-blue-200: #9ec5fe;
$my-blue-300: #6ea8fe;
$my-blue-400: #3d8bfd;
$my-blue-500: #0d6efd;
$my-blue-600: #0a58ca;
$my-blue-700: #084298;
$my-blue-800: #052c65;
$my-blue-900: #031633;

$my-default-white: #ffffff;
$my-default-black: #000000;

$my-shadow-sm: 0 1px 4px rgba(0, 0, 0, 0.1);
$my-shadow-med: 0 4px 10px rgba(0, 0, 0, 0.12);
